@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(../public/font/Poppins-Medium.ttf) format('truetype');
  }
}

@layer components {
  .btn-primary {
    @apply px-3 cursor-pointer  w-full sm:w-2/3 transition-all leading-[2.375] ring-0 bg-btn dark:bg-btndark text-base text-black dark:text-white font-medium h-10 rounded-lg enabled:hover:bg-primary disabled:bg-slate-500 disabled:cursor-not-allowed;
  }

  .btn-secondary {
    @apply cursor-pointer text-sm w-full py-2 px-3 border hover:bg-slate-50 border-slate-200 rounded-lg transition-all ring-0 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:bg-slate-800 disabled:cursor-not-allowed;
  }

  .btn-link {
    @apply px-3 cursor-pointer font-medium underline disabled:cursor-not-allowed;
  }

  .h3 {
    @apply text-2xl leading-8 font-semibold text-slate-900;
  }

  .card {
    @apply bg-white/5 rounded-2xl border border-black/10 p-4 dark:border-border dark:bg-white/5 sm:p-5 md:p-6;
  }

  .page-title {
    @apply text-lg md:text-2xl font-semibold text-slate-900 dark:text-slate-50;
  }
  .page-sub {
    @apply text-base font-bold text-slate-900 dark:text-slate-50;
  }
}

.btn-primary {
  padding: 1px;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.aarslider .recharts-tooltip-wrapper {
  display: none;
}

/* html {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
} */

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
  /* overflow: visible !important; */
}
.dark .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background: rgb(206, 207, 255, 0.4);
}
.swiper-pagination-bullet {
  width: 100px !important;
  height: 8px !important;
  border-radius: 20px !important;
  opacity: 1;
  background: rgba(30, 202, 83, 0.22);
}

.swiper-pagination-bullet-active {
  background: #1eca53;
}

.ReactCollapse--collapse {
  transition: height 250ms;
}
